html * {
   font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
   
}

body {
  background-image: url("white-waves.png");
  background-repeat: repeat;
}

.app-title {
  color: black;
  text-align: center;
  font-family: 'Droid Serif', Georgia, Times, serif;
}

h2 {
  margin-bottom: 10px;
}

.app-body {
  margin: 0 15rem 0 15rem;
  padding: 20px;
  background-color: rgba(255,255,255, 0.5);

  .input-forms {
    margin-bottom: 20px;
    .input-content {
      padding-left: 20px;

      input {
        margin: 0 10px 0 10px;
      }
    }
  }

  .expense-table{
    th, td {
      border: 1px solid black;
      padding: 5px;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }

    .expense{ 
      color:red
    }
    .revenue{
      color:green
    }
  }
  


  
}
